@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap');
a,s,p,h1,h2,h3,h4,h5,h6,li,ol,ul{
    margin: 0;
    padding: 0;
    text-decoration: none !important;
    list-style: none !important;
    font-family: 'League Spartan', sans-serif;
}
html{
    width: 100%;
    overflow-x: hidden;
}
html::-webkit-scrollbar{
    width: 5px;
}
html::-webkit-scrollbar {
    width: 8px;
}

html::-webkit-scrollbar-thumb {
    background: #ea2929;
}
body{
    width: 100%;
}
header{
    position: fixed;
    padding: 18px 60px;
    top: 0;
    width: 100%;
    left: 0;
    z-index: 99;
    transition: 500ms all;
}
header.sticky{
    background-color: #121416;
}
header .header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header .header .head-logo img{
    height: 50px;
    max-width: 150px;
    object-fit: contain;
}
header .header .head-buttons{
    display: flex;
    align-items: center;
    justify-content: center;
}
header .header .head-buttons a:first-child{
    padding: 0 20px;
    border-right: 1px solid #ffffff;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 20px;
    color: white;
    transition: 200ms all;
}
header .header .head-buttons a:first-child:hover{
    color: #ea2929;
}
header .header .head-buttons a h3{
    font-family: 'League Spartan', sans-serif;
    margin-right: 10px;
    font-size: 25px;
}
header .header .head-buttons a:last-child {
    width: 26px;
    height: 26px;
}
header .header .head-buttons a:last-child span{
    width: 100%;
    height: 3px;
    display: block;
    background-color: white;
    transition: width .3s,background-color .3s;
}
header .header .head-buttons a:last-child span:nth-child(1){
    width: 100%;
}

header .header .head-buttons a:last-child span:nth-child(2){
    width: 100%;
    margin-top: 5px;
}

header .header .head-buttons a:last-child span:nth-child(3){
    width: 22px;
    margin-top: 5px;
}
header .header .head-buttons a:last-child:hover span{
    background-color: #ea2929;
}
header .header .head-buttons a:last-child:hover span:nth-child(1){
    width: 14px;
}

header .header .head-buttons a:last-child:hover span:nth-child(2){
    width: 18px;
}

.slider{
    width: 100%;
    position: relative;
    height: 100vh;
    overflow: hidden;
}
.slider .slide{
    position: absolute;
    opacity: 0;
    visibility: hidden;
    transition: 800ms all;
    width: 100%;
    height: 100vh;
}
.slider .slide.active{
    opacity: 1;
    visibility: visible;
}
.slider .slide img{
    width: 100%;
    height: 100vh;
    object-fit: cover;
    object-position: center;
    position: relative;
}
.slider .slide.active img{
    animation-name: zoomout;
    animation-iteration-count: infinite;
    animation-duration: 20000ms;
}
.slider .slide .slide-text{
    position: absolute;
    top: 20vh;
    z-index: 10;
    padding: 150px;
    width: 100%;
}
.slider .slide .slide-text p{
    color: white;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 12px;
    font-weight: 700;
}
.slider .slide .slide-text h2{
    color: white;
    font-size: 65px;
    font-weight: 700;
    line-height: 60px;
    margin-top: 35px;
    width: 50%;
}
.slider .slider-foot{
    background-color: white;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 70%;
    height: 80px;
    padding: 20px    150px;
}
.slider .slider-foot h4{
    color: #000000;
    font-size: 23px;
    font-weight: 500;
}
.slider .slider-foot p{
    color: #000000;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 12px;
    font-weight: 200;
}
.slider .slider-buttons{
    position: absolute;
    height: 50px;
    bottom: 75px;
    z-index: 10;
    display: flex;
    left: 150px;
    background-color: rgba(255, 255, 255, 0.69);
}
.slider .slider-buttons a{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45px;
    height: 45px;
    margin-right: 0.5px;
    background-color: rgba(255, 255, 255, 0.85);
    transition: 400ms all;
}

.slider .slider-buttons a i{
    color: black;
}
.slider .slider-buttons a:hover{
    background-color: #ea2929;
}
.slider .slider-buttons a:hover i{
    color: white;
}
@keyframes zoomout{
    from{
        transform: scale(1);
    }
    to{
        transform: scale(1.1);
    }
}
.headerHome__scroll {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: calc(70vw + 90px);
    bottom: 25px;
    z-index: 2;
    cursor: pointer;
    transition: opacity .3s;
}
.headerHome__scrollIcon {
    position: relative;
    width: 22px;
    height: 30px;
    top: 50%;
    box-shadow: inset 0 0 0 2px #fff;
    border-radius: 25px;
}
.headerHome__scrollIcon:before {
    content: "";
    position: absolute;
    left: calc(50% - 1px);
    width: 2px;
    height: 6px;
    background: #fff;
    top: 5px;
    border-radius: 4px;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-name: scroll;
}
.headerHome__scrollText {
    padding-top: 6px;
    font-size: 16px;
    line-height: 20px;
    font-weight: 500;
    color: #fff;
    padding-left: 15px;
}
.headerHome__bottomLine {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateX(50%);
    width: 108px;
    height: 1px;
    background-color: #fff;
}
.headerHome__bottomLine:before {
    content: "";
    position: absolute;
    left: 0;
    width: 50%;
    height: 100%;
    background-color: #ea2929;
}
@keyframes scroll{
    from{
        top: 5px;
        opacity: 1;
    }
    to{
        top: 25px;
        opacity: 0;
    }
}
.bernardShaw{
    width: 100%;
    height: 65vh;
    padding: 50px 150px;
    background-color: #F9F2ED;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.bernardShaw .firstDiv{
    height: 80px;
    opacity: 0;
    visibility: hidden;
    margin-top: -100px;
    transition: 400ms all;
}
.bernardShaw .firstDiv.active{
    opacity: 1;
    visibility: visible;
    margin-top: 0;
}
.bernardShaw .firstDiv img{
    width: 300px;
}
.bernardShaw .secondDiv{
    opacity: 0;
    visibility: hidden;
    transition: 500ms all;
}
.bernardShaw .bernardShawPhoto{
    opacity: 0;
    visibility: hidden;
    transition: 500ms all;
}
.bernardShaw .bernardShawPhoto h4{
    margin-right: -200px;
    transition: 600ms all;
}
.bernardShaw .secondDiv h3{
    margin-top: 60px;
    transition: 600ms all;
    font-size: 75px;
    font-weight: 600;
}
.bernardShaw .secondDiv h3:nth-child(1){
    margin-bottom: 100px;
}

.bernardShaw .secondDiv h3:nth-child(2){
    margin-top: 200px;

}
.bernardShaw .secondDiv.active{
    opacity: 1;
    visibility: visible;
}
.bernardShaw .secondDiv.active h3{
    margin-top: 0;
}
.bernardShaw .secondDiv.active h3:nth-child(1){
    margin-bottom: 0;
}

.bernardShaw .secondDiv.active h3:nth-child(2){
    margin-top: 150px;
}
.bernardShaw .bernardShawPhoto.active{
    opacity: 1;
    visibility: visible;
}
.bernardShaw .bernardShawPhoto.active h4{
    margin-right: 0;
    font-size: 35px;
    margin-top: 25px;
    font-weight: 600;
    letter-spacing: -2px;
    width: 100%;
    text-align: center;
}
.bernardShaw .bernardShawPhoto img{
    width: 20vw;
    height: 20vw;
    object-fit: cover;
    border-radius: 50%;
    object-position: top;
}
.titleDesc{
    padding: 150px;
    height: 35vh;
}
.titleDesc__inner {
    display: flex;
    flex-wrap: wrap;
    margin-left: -12px;
    margin-right: -12px;
}
.titleDesc__title {
    position: relative;
    flex: 0 0 41.666%;
    max-width: 41.666%;
    padding-left: 12px;
    padding-right: 12px;
}
.titleDesc__titleSmall {
    position: relative;
    z-index: 1;
    margin-bottom: 40px;
    font-size: 4rem;
    line-height: 62px;
    font-weight: 700;
}
.titleDesc__titleSmall:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 77px;
    height: 2px;
    background-color: #ea2929;
}
.titleDesc__titleBig {
    position: absolute;
    left: 10px;
    top: -55px;
    font-size: 170px;
    line-height: 120px;
    font-weight: 900;
    -webkit-text-stroke: 1px #cfd6da;
    -webkit-text-fill-color: #fff;
}
.titleDesc__desc {
    position: relative;
    padding-left: 12px;
    padding-right: 12px;
    z-index: 1;
    flex: 0 0 58.334%;
    max-width: 58.334%;
    font-size: 18px;
    line-height: 32px;
}
.projects{
    height: 85vh;
    display: flex;
}
.projects a{
    flex: 1;
    position: relative;
    overflow: hidden;
}
.projects a .project{
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
}
.projects .project img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 2s all;
}
.projects .project:hover img{
    transform: scale(1.1);
}
.projects .project .project-text{
    position: absolute;
    width: 100%;
    height: 100%;
    margin-top:-85vh;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 555;
    padding: 70px;
}
.projects .project .project-text h3{
    position: absolute;
    bottom: 18vh;
    transition: 500ms all;
    width: 50%;
    font-size: 40px;
    color: white;
}
.projects .project .project-text p{
    position: absolute;
    transition: 500ms all;
    bottom: 18vh;
    opacity: 0;
    visibility: hidden;
    color: white;
    font-size: 23px;
    font-weight: 300;
    width: 70%;
}
.projects .project .project-text div{
    position: absolute;
    bottom: 10vh;
    color: white;
    font-size: 20px;
}
.projects .project .project-text div i{
    color: white;
    padding: 10px;
    border-radius: 50%;
    border: 1px solid #ea2929;
    transition: 500ms all;
    font-size: 23px;
    margin-right: 10px;
}
.projects .project:hover .project-text div i{
    background-color: #ea2929;
}
.projects .project:hover .project-text h3{
    position: absolute;
    bottom: 25vh;
}
.projects .project:hover .project-text p{
    position: absolute;
    transition: 500ms all;
    bottom: 17vh;
    opacity: 1;
    visibility: visible;
}
.contact{
    display: flex;
    height: 80vh;
}
.contact .contact-social{
    width: 35%;
    position: relative;
}
.contact .contact-form{
    width: 65%;
}
.contact .contact-social{
    background-image: url("../img/image0.jpeg");
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.contact .contact-social::before{
    content: "";
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.6);
    position: absolute;
}
.contact .contact-social .contact-us h4{
    font-size: 40px;
    font-weight: 500;
    color: white;
    margin: 50px 0;
}
.contact .contact-social .contact-us{
    width: 45%;
    position: relative;
}
.contact .contact-social .contact-us>div{
    display: flex;
    justify-content: flex-start;
}
.contact .contact-social .contact-us>div>img{
    width: 75px;
    height: 75px;
    object-fit: cover;
    border-radius: 50%;
    margin-right: 20px;
}
.contact .contact-social .contact-us div h3{
    color: white;
}

.contact .contact-social .contact-us div p{
    color: white;
}
.contact .contact-social>div:last-child{
    width: 45%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.contact .contact-social>div:last-child img{
    width: 80%;
    border-bottom: 1px solid white;
    padding-bottom: 15px;
}
.contact .contact-social>div:last-child ul{
    display: flex;
    margin:8px;
    padding-bottom: 15px;
}
.contact .contact-social>div:last-child ul a{
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 500ms all;
    border-radius: 50%;
}
.contact .contact-social>div:last-child ul a:hover{
    background-color: #ea2929;
}
.contact .contact-social>div:last-child ul a i{
    color: white;
}
